.create-photo{
  .container{
    padding: 30px;
  }
  &__form{
    background: #428bca;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:20px;
    row-gap: 20px;
    color: #ffffff;
    input{
      width: 400px;
      padding: 10px 5px;
      border: none;
      font-size: 20px;
      &:focus{
        outline:  2px solid #f3b26a;
      }
    }
    select {
      &:focus{
        outline:  2px solid #f3b26a;
      }
      width: 250px;
      padding: 10px 5px;
      border: none;

    }
  }
}