.create-photo{
  background: #428bca;
  .container{
    padding: 30px;


  }
  &__form{
    &-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    width: 400px;
    height: 400px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:20px;
    row-gap: 20px;
    color: #ffffff;

    input{
      width: 300px;
      border-radius: 10px;
      padding: 10px 5px;
      border: none;
      font-size: 20px;
      &:focus{
        outline:  2px solid #f3b26a;
      }
    }
    select {
      &:focus{
        outline:  2px solid #f3b26a;
      }
      padding: 10px 5px;
      border: none;

    }
  }
}