.requests{
  padding-top: 50px;
  &__content{
    display: flex;
    justify-content: space-between;
  }
  &__row{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 70%;
  }
  &__card{
    width: 100%;
    padding: 20px 30px;
    background: white;
    position: relative;
    &-goal{
      position: absolute;
      top: 10px;
      right: 10px;
      font-family: 'DIN Pro',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      color: #A4ACAD;
    }
    &-title{
      font-family: 'DIN Pro',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      color: #111111;

    }
    &-text{
      font-family: 'DIN Pro',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
      margin-top: 20px;
    }
    &-top{
      display: flex;
      column-gap: 50px;
      align-items: center;

    }
    &-time{
      font-family: 'DIN Pro',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      color: #A4ACAD;
    }
    &-del{
      cursor: pointer;
      padding: 7px 20px;
      font-size: 15px;
      border: none;
      background: #640a0a;
      color: #ffffff;
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
  }
}
