.register{
  background: #0A293D;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__form{
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
    border-radius: 10px;
    &-gender{
      margin-bottom: 20px;
      &-title{
        margin-bottom: 10px;
      }
      &-row{
        display: flex;
        column-gap: 30px;
      }
      &-label{
        display: flex;
        column-gap: 5.5px;
        align-items: center;
      }
      &-value{
        cursor: pointer;
      }
    }
    &-show{
      color: #0A293D;
      cursor: pointer;
    }
    &-label{
      width: 100%;
      margin-bottom: 20px;
      &_checkbox{
        display: flex;
        align-items: center;
        column-gap: 10px;
      }
    }
    &-input:not(.register__form-input_checkbox){
      width: 100%;
      height: 40px;
      border: 1px solid #0A293D;
      padding: 0 10px;
      border-radius: 4px;

    }
    &-input_error{
        color: #e91e63!important;
        border: 1px solid #e91e63!important;
      &::placeholder{
        color: #e91e63!important;
      }
    }
    &-input_checkbox{
      width: 20px;
      height: 20px;
      accent-color: #0A293D;
    }
    &-btn{
      padding: 13px 0;
      background: #0A293D;
      color: white;
      border-radius: 5px;
      font-size: 18px;
      cursor: pointer;
      margin-bottom: 20px;
      border: none;
    }
    &-text{
      text-align: center;
      color: #0A293D;
      line-height: 25px;
      a{
        color: purple;
      }
    }
    &-error{
      font-size: 13px;
      margin-top: 5px;
      color: #e91e63;
    }
  }
}


