.one-photo{
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  }
  &__left{

  }
  &__img-wrapper{
    margin-top: 30px;
    background: red;
    width: 400px;
    height: 400px;
    img{
       width: 100%;
      background: blue;
    }
  }
  &__h{
    align-self: flex-start;
  }
  &__right{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
}