@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&display=swap');

.one-vacancies{
  font-family: "Fira Sans", sans-serif;
  background: #f6f6f6;
&__back{
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 15px 0;

}
  &__back:hover{
    cursor: pointer;
  }
  &__arrow{
    font-size: 30px;
    margin-top: 5px;
  }
  &__card{
    background: white;
    width: 90%;
    padding: 25px 15px 20px 40px;
    border-radius: 15px;
    border: 1px solid #e8e8e8;
  }
  &__title{
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    margin-bottom: 20px;
    align-items: start;
    font-weight: 500;

  }
  &__icon{
font-size: 16px;
    display: flex;
    align-items: center;
    column-gap:5px;
    width: 15%;
    color:  #909090;
  }
  &__logo{
    font-size: 34px;
    color:  #909090;
  }
  &__task-text{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  &__requirements{
    margin-top: 50px;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  &__task{
  line-height: 35px;
    font-size: 18px;
  }
    &__requirement{
      line-height: 35px;
      font-size: 18px;
    }
  &__btns{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    align-items: center;
  }
  &__delete{
    padding: 20px 60px;
    border-radius: 10px;
    background: red;
    color: white;
    font-size: 18px;
    border: none;

  }
  &__delete:hover{
    cursor: pointer;
  }
  &__change{
    padding: 20px 60px;
    border-radius: 10px;
    background: #008000;
    color: white;
    font-size: 18px;
    border: none;
  }


}