@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&display=swap');
.create-vacancies{
  ul{
    li{
      padding: 5px 10px;
      position: relative;
      &::after{
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 3px;
        background: #ff9700;
      }
    }
  }
  .container{
    display: flex;
    align-items: flex-start;
    padding: 20px;
  }
  &__textarea{
    width: 400px;
    margin: 25px 0;
    padding: 15px 20px;
    resize: none;
  }
&__back{
  padding: 10px 36px;
  background: #0A293D;
  color: white;
  font-size: 22px;
}
&__title{
  text-align: center;
  margin:25px 0;
}
  &__form{
    font-family: "Fira Sans",sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 40px;
    width: 50%;
    background: khaki;
    min-height: 60vh;
    margin: 0 auto;
    border-radius: 15px;
    input{
      padding: 10px 20px;
      border-radius: 10px;
      width: 400px;
      margin: 25px 0;
    }
    input,textarea{
      border: none;
      outline: none;
    }
    p{
      color: red;
    }
  }
  select {
    &:focus{
      outline:  2px solid #f3b26a;
    }
    width: 250px;
    padding: 10px 5px;
    border: none;

  }




}