.create-vacancies{
  &__textarea{
    width: 400px;
    margin: 25px 0;
    padding: 15px 20px;
    resize: none;
  }
&__back{
  padding: 10px 36px;
  margin: 15px 0;
  background: #0A293D;
  color: white;
  font-size: 22px;
}
&__title{
  text-align: center;
  margin:25px 0;
}
  &__form{
    padding: 25px;
    width: 80%;
    background: khaki;
    min-height: 60vh;
    margin: 0 auto;
    border-radius: 15px;
    input{
      padding: 15px 20px;
      width: 400px;
      margin: 25px 0;
    }
  }



}