.banners{
  .container{
    padding: 30px 0;

  }
  &__bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
   &__wrapper{

     width: 80%;
     padding: 10px 0 ;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     column-gap: 30px;
     row-gap: 30px;
   }
  &__btn{
    padding: 7px 20px;
    font-size: 15px;
    border: none;
    &_blue{
      background: #104e85;
      color: #ffffff;
    }
    &_green{
      background: #0c6744;
      color: #ffffff;
    }
    &_red{
      background: #640a0a;
      color: #ffffff;
    }
    &:hover{
       color: #f8cf40;
      transform: translateY(-5px);
    }
    &:active{
      background: #f8cf40;
    }
  }
  &__content{
    display: flex;
  }
}
.banner{
  padding: 0 10px;
  background: pink;
  width: calc(50% - 15px);
  &__img{
    width: 100%;
    max-width: 200px;
    img{
      width: 100%;
      object-fit: cover;
    }
  }
  &__location{
    text-align: right;
  }
  &__btn-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;

  }


}