.events-card{
  padding: 10px 40px 30px;
  color: white;
  background: linear-gradient(#eac442, #e13a2d);
  border-radius: 30px;
  width: 44%;
  &__title{
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  &__title2{
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  &__description{
    font-size: 26px;
    margin-bottom: 30px;
  }
  &__wrapper{
    padding: 20px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
  }
}